body{
    background: linear-gradient(to bottom left,#ffcfe5 50%, #8778d1 50%);
    height:100vh;
    display:block;
    justify-content: center;
    align-items: center;
}
.box h1{
    height: 100px;
    width:300px;
    background-color: white;
    box-shadow: 5px 5px 3px 3px black;
    border-radius: 5px;
    align-content: center;
    margin: 100px 50px 20px 800px;
    text-align: center;
}
.Box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 8px 10px 3px black;
    width:300px;
    text-align: left;
    margin:50px 50px 50px 800px;
    padding:10px;
    
}
button{
    background-color:#8778d1;
    color:white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
